@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
  outline: none;
  box-sizing: border-box;
}

:root {
    --self-card-header-color: #222325;
    --background-color:  #202128;
    --card-color: rgb(38, 38, 46);
    --text-color: #ffffff;
    --body-font: 'Tajawal', sans-serif;
}

body {
    font-family: var(--body-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: 100vh;
    user-select: none;
    background-color: transparent;
}

.buy-card {
    background: var(--background-color);
    border-radius: 1.5rem;
    max-width: 40rem;
    height: auto;
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 4rem;
}

.sell-card {
    background: var(--background-color);
    border-radius: 1.5rem;
    max-width: 40rem;
    height: auto;
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 4rem;
}

.header {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 2.4vh;
    font-weight: bold;
    font-variant: small-caps;
    word-spacing: 0.7rem;
    letter-spacing: 0.3rem;
    margin-top: 1rem;
}

hr {
    color: #a3a3a3;
    opacity: 1;
    height: 0.05rem;
    margin: 1rem 4rem;
}
  
hr:not([size]) {
    height: 0.05rem;
    opacity: 1;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100%;
    color: #fff;
}

.output-complete {
    font-family: var(--body-font);
    font-size: .8vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 70%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    width: 100%;
    transition: .4s;
    height: 2.5rem;
    cursor: default;
    margin-bottom: 1.5rem;
}

.input {
    font-family: var(--body-font);
    font-size: .8vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 70%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    width: 97.2%;
    transition: .4s;
    height: 2.5rem;
    cursor: text;
    margin-bottom: 1.5rem;
}

.output-half {
    font-family: var(--body-font);
    font-size: .8vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    opacity: 70%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    width: 48.5%;
    transition: .4s;
    height: 2.5rem;
    cursor: default;
}

::placeholder {
    color: var(--text-color);
}


.half-outputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.vehicle-description {
    height: auto;
    display: flex; 
    align-items: flex-start; 
    justify-content: 
    flex-start; 
    padding: 1rem;
}

.content-button {
    background-color: #3a6df0;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 8px;
    margin-top: 2px;
    width: 48.5%;
    height: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}

button {
    font-family: var(--body-font);
    font-weight: bold;
}

.section-name {
    font-family: var(--body-font);
    opacity: 85%;
    text-align: center;
    font-size: 1.4vh;
    margin-bottom: 0.2rem;
}

.helper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.half {
    display: flex;
    width: 97%;
}

.button-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close-button {
    background-color: #f03a3a;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}